<section class="budget-item-section">
        <section class="income-column">
            <h1>Income</h1>
            <div *ngFor="let item of itemList">
                <div *ngIf="item.amount>=0" (click)="editItemMethod(item)">
                    <app-budget-item-card [item]="item" (xButtonClick)="delete($event)"></app-budget-item-card>
                </div>
            </div>
        </section>
        <section class="expense-column">
            <h1>Expense</h1>
            <div *ngFor="let item of itemList">
                <div *ngIf="item.amount<0" (click)="editItemMethod(item)">
                    <app-budget-item-card [item]="item" (xButtonClick)="delete($event)"></app-budget-item-card>
                </div>
            </div>
        </section>
</section>